*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


.text-link, 
.text-link:hover, 
.text-link:active {
  color: inherit;
  text-decoration: inherit;
}

